section.pictures {
  margin-top:50px;
  margin-right:50px;
  margin-left:180px;
}
img.scissors {
  padding-left:45px;
}

img.paper {
  padding-left:20px;
}
section.buttons {
  margin-top:50px;
  margin-left:80px;
  margin-right:50px;
}

button.waves-effect {
  
  margin-left:120px;
  height: 100px;
  width: 220px;
  font-size: 30px;
  line-height: 25px;
}

