section.pictures {
  margin-top:50px;
  margin-right:50px;
  margin-left:180px;
}

section.buttons {
  margin-top:50px;
  margin-left:80px;
  margin-right:50px;
}

button.waves-effect {
  margin-left:130px;
  height: 100px;
  width: 200px;
  font-size: 30px;
  line-height: 25px;
}

